.seat {
    width: 100px;
    height: 50px;
    border: 1px solid #03071226;
    display: flex;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#03071226;
    cursor: pointer;
    border-radius: 10px;
    }
    
div#selected-seats-container div {
     display: inline-flex;
}
div#seats-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.seat:hover {
    background-color: #1DD100;
    color: white;
    font-weight: bold;
}

.seat:active {
    background-color: #1DD100;
    color: white;
    font-weight: bold;
}
.seat:visited {
    background-color: #1DD100;
    color: white;
    font-weight: bold;
}

.bus-ticket {
    display: grid;
    grid-template-columns: auto auto;
}
